.input{
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  height: 35px;
  margin-bottom: 5px;
}
.textarea{
  width: 100%;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 5px;
  border-width: 2px;
}
.icon:hover{
  width: 30px;
  height: 28px;
  border-radius: 3px;
  padding-left: 2px;
  background-color: lightgrey;
}
.dialog::-webkit-scrollbar{
  display: none;
}
